<div class="container">
  <div class="row">
  <div class="row this">

          <%- @listings.each_with_index do |listing, index| %>
          <div class="col-lg-5 col-md-6 col-sm-6 text-center block">
            <div class="panel panel-primary">
            <h2 class="panel-heading"><%= link_to listing.title, current_user ? user_listing_path(current_user, listing) : listing_path(listing)%></h2>
            <br>
            <h3 class="panel-body"><%= listing.email %>
            </div>
          </div>
          <% end -%>
  </div>
</div>
