<div class="containter outerContainer">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img src=<%=current_user.image%>>
      <br>
      <%= current_user.name %>
      <br>
      <%= current_user.email %>
    </div>
  </div>
</div>
