<div class="container">
  <div class="row">
  <div class="row listingShow">

          <div class="col-lg-12 col-md-12 col-sm-12 text-center block">
            <div class="panel panel-primary">
            <h2 class="panel-heading"></h2>
            <h3 class="panel-body"><%= image_tag @photo.image_url(:thumb) if @photo.image? %></h3>
            </div>
          </div>
  </div>
</div>
